table {
  width: 100%;
  position: relative;
}

.input-file {
  margin-bottom: 2rem;
}
.input-file,
.no-data {
  margin: 0 auto 2rem;
  text-align: center;
}

.table-btn {
  position: absolute;
  right: 30px;
}
