<div class="input-file">
  <input type="file"
         #fileImportInput
         id="csvFileUpload"
         (change)="fileChangeListener($event)"
         accept=".csv"
  />
</div>

<div class="table__container" *ngIf="csvData.length !== 0">
  <table mat-table [dataSource]="csvData"
         cdkDropList [cdkDropListData]="csvData"
         (cdkDropListDropped)="drop($event)"
         class="mat-elevation-z8"
         #table>

    <ng-container [matColumnDef]="column" *ngFor="let column of headers">
      <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>

      <td mat-cell *matCellDef="let element; let idx = index">
        <div *ngIf="column !== 'languages'">{{element[column]}}</div>
        <div *ngIf="column === 'languages'">
          <mat-chip-list aria-label="chip languages">
            <div *ngFor="let lang of element['languages'].split(', ')">
              <mat-chip color="primary" selected>{{lang}}</mat-chip>
            </div>
            <div class="table-btn">
              <button mat-button (click)="openDialog(idx)">
                <span class="material-icons">edit</span>
              </button>
              <button mat-mini-fab color="warn" (click)="onDeleteData(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-chip-list>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headers"></tr>
    <tr mat-row
        *matRowDef="let row; columns: headers;"
        cdkDrag [cdkDragData]="row"></tr>
  </table>

</div>

<div class="no-data" *ngIf="csvData.length === 0">
  Данные отсутствуют
</div>
